$blue : #0073aa;

body {
    * {
      box-sizing: border-box;
    }
    form {
      margin-top: 2em;
      .flagOptions {
        width: 4em;
        display: inline-block;
      }
        fieldset {
            legend {
              display: inline-block;
              width: 100%;
              font-size: 2.5em;
              //line-height:2em;
              background: #ccc;
              border-bottom: 1px solid #fff;
              padding: 0.5em 1em;
              position: relative;
              &:hover {
                cursor: pointer;
              }
              .countryCount {
                position: absolute;
                right: 5em;
                color: $blue;
                font-size: 0.5em;
              }
              &.active {
                background-color: #fff;
                .icon-container {
                  .plus-icon {
                    transform: rotate(-90deg);
                    &:after {
                      width: 0;
                      left: 50%;
                    }
                  }
                }
              }
              .icon-container {
                transition: all 300ms ease;
                position: absolute;
                right: 1em;
                top: 0.5em;
                color: #fff;
                .plus-icon {
                  transition: all 300ms ease;
                  display: block;
                  width: 20px;
                  height: 20px;
                  position: relative;
                  &:before {
                    transition: all 300ms ease;
                    content: "";
                    width: 4px;
                    height: 20px;
                    background: $blue;
                    display: block;
                    left: 50%;
                    margin-left: -2px;
                    position: absolute;
                  }
                  &:after {
                    transition: all 300ms ease;
                    content: "";
                    height: 4px;
                    width: 20px;
                    background: $blue;
                    display: block;
                    top: 50%;
                    left: 0;
                    margin-top: -2px;
                    position: absolute;
                  }
                }
              }
            }
          .countryContainer {
            display: flex;
            flex-wrap: wrap;
            &.collapse {

            }
            .country {
              box-sizing: border-box;
              padding: 1em;
              flex-basis: 20%;
              height: 130px;
              text-align: center;
              &.checked {
                background: lighten($blue, 50%);
                box-shadow: 0 0 0 2px #fff inset;
              }
              &:hover {
                box-shadow: 0 0 0 3px #fff inset;
              }
              img {
                max-width: 50%;
                margin: 0 auto;
                display: block;
              }
              .label {
                display: block;
                width: 100%;
              }
              input {
                display: block;
                margin: 0 auto;
              }
            }
          }
        }
    }
}