#PlacesIHaveBeen {
  padding: 0;
  margin: 0;
  text-align: center;
  li {
    list-style: none;
    display: inline-block;
    padding: 0.5em;
    img {
      max-width: 100%;
    }
  }
  &.onePerRow {
    li {
      width: 100%;
    }
  }
  &.twoPerRow {
    li {
      width: 50%;
    }
  }
  &.threePerRow {
    li {
      width: 33%;
    }
  }
  &.fourPerRow {
    li {
      width: 25%;
    }
  }
  &.fivePerRow {
    li {
      width: 20%;
    }
  }
  &.sixPerRow {
    li {
      width: 15%;
    }
  }
  &.tenPerRow {
    li {
      width: 10%;
    }
  }
  &.twentyPerRow {
    li {
      width: 10%;
    }
  }
}